$main-color: rgb(246, 255, 240);
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
img {
     max-width: 100%;
     object-fit: cover;
}
button {
     display: inline-block;
     outline: none;
     border: none;
     font-size: 16px;
     cursor: pointer;
}
#app {
     background-image: url('../assets/images/bg.jpg');
     background-position: center;
     background-size: cover;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.btn-logout {
     outline: none;
     border: none;
     background-color: #DC3545;
     padding: 10px 15px;
     color: white;
}
.container {
     max-width: 1240px;
     width: 100%;
     padding: 0 20px;
     margin: auto;
     display: flex;
     justify-content: space-between;
}
.options {
     background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     padding: 20px 40px;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
}
.option-item {
     text-align: center;
     padding: 10px 10px;
     border-radius: 42px;
     margin-bottom: 20px;
     &.active {
          background-color: rgb(133, 197, 89);
          color: white;
     }
}
.d-grid-col-3 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 20px 10px;
}
.content-list {
     display: none;
     .content-item {
          background-color: $main-color;
          border-radius: 20px;
          position: relative;
          cursor: pointer;
     }
     & img {
          width: 178px;
          height: 178px;
     }
     .check-icon {
          position: absolute;
          top: 0;
          right: 0;
          background-color: rgb(133, 197, 89);
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
               width: 20px;
               height: 20px;
               object-fit: cover;
          }
     }
}
.eyes, .headdress, .phone, .mouth, .clothes, .accessories, .background {
     &.active {
          display: grid;
     }
}
.createNFT {
     margin-top: 30px;
     padding: 10px 20px;
}
.z-index2 {
     z-index: 2;
}
.preview-avatar {
     text-align: center;
     .preview-main {
          border-radius: 20px;
          padding: 16px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          position: relative;
          overflow: visible;
     }
     .preview-content {
          width: 300px;
          height: 300px;
          overflow: hidden;
          background-color: $main-color;
          position: relative;
          & img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               &::after {
                    content: "";
                    display: block;
                    padding-top: 100%;
               }
          }
     }
     .preview-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 300px;
          height: 300px;
     }
}